.navbar {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    height: 70px;

    background: #1e293b;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 25px;

    z-index: 1000;
}